
            .card-1 { background-image: url(5e8dadcf3018c62731acd17d.image.png); }
        
                .matching.card-1 { background-image: url(5e8dadcf3018c62731acd17d.card.png); }
            
            .card-2 { background-image: url(5eadf9e48deb5b71a395fe0c.image.png); }
        
                .matching.card-2 { background-image: url(5eadf9e48deb5b71a395fe0c.card.png); }
            
            .card-3 { background-image: url(5eadf9e58deb5b71a395fe0d.image.png); }
        
                .matching.card-3 { background-image: url(5eadf9e58deb5b71a395fe0d.card.png); }
            
            .card-4 { background-image: url(5eadf9e68deb5b71a395fe0e.image.png); }
        
                .matching.card-4 { background-image: url(5eadf9e68deb5b71a395fe0e.card.png); }
            
            .card-5 { background-image: url(5eadf9e78deb5b71a395fe0f.image.png); }
        
                .matching.card-5 { background-image: url(5eadf9e78deb5b71a395fe0f.card.png); }
            
            .card-6 { background-image: url(5e8bf946f6082885ff046ab6.image.png); }
        
                .matching.card-6 { background-image: url(5e8bf946f6082885ff046ab6.card.png); }
            
            .card-7 { background-image: url(5eadfb3dde049f5b7ba2f2ac.image.png); }
        
                .matching.card-7 { background-image: url(5eadfb3dde049f5b7ba2f2ac.card.png); }
            
            .card-8 { background-image: url(5eadfb3fde049f5b7ba2f2ad.image.png); }
        
                .matching.card-8 { background-image: url(5eadfb3fde049f5b7ba2f2ad.card.png); }
            
            .card-9 { background-image: url(5eadfb3fde049f5b7ba2f2ae.image.png); }
        
                .matching.card-9 { background-image: url(5eadfb3fde049f5b7ba2f2ae.card.png); }
            
            .card-10 { background-image: url(5eadfb40de049f5b7ba2f2af.image.png); }
        
                .matching.card-10 { background-image: url(5eadfb40de049f5b7ba2f2af.card.png); }
            
            .card-11 { background-image: url(5eadfb41de049f5b7ba2f2b0.image.png); }
        
                .matching.card-11 { background-image: url(5eadfb41de049f5b7ba2f2b0.card.png); }
            
            .card-12 { background-image: url(5eadfb42de049f5b7ba2f2b1.image.png); }
        
                .matching.card-12 { background-image: url(5eadfb42de049f5b7ba2f2b1.card.png); }
            
            .card-13 { background-image: url(5eadfcd6f9ba221b944caa98.image.png); }
        
                .matching.card-13 { background-image: url(5eadfcd6f9ba221b944caa98.card.png); }
            
            .card-14 { background-image: url(5eadfcd6f9ba221b944caa99.image.png); }
        
                .matching.card-14 { background-image: url(5eadfcd6f9ba221b944caa99.card.png); }
            
