
            .card-1 { background-image: url(5e8dac932c02d5b61d430632.image.png); }
        
            .card-2 { background-image: url(5e943b3425c505681d0f1df4.image.png); }
        
            .card-3 { background-image: url(5e943b3425c505681d0f1df5.image.png); }
        
            .card-4 { background-image: url(5e8dac932c02d5b61d430637.image.png); }
        
            .card-5 { background-image: url(5e8dac932c02d5b61d43063e.image.png); }
        
            .card-6 { background-image: url(5e943b3625c505681d0f1df6.image.png); }
        
            .card-7 { background-image: url(5e943b3625c505681d0f1df7.image.png); }
        
