
            .card-1 { background-image: url(5e943b2b25c505681d0f1dee.image.png); }
        
            .card-2 { background-image: url(5e8dac932c02d5b61d430631.image.png); }
        
            .card-3 { background-image: url(5e8dac932c02d5b61d43063c.image.png); }
        
            .card-4 { background-image: url(5e8dac932c02d5b61d43062e.image.png); }
        
            .card-5 { background-image: url(5e8dac932c02d5b61d43062f.image.png); }
        
            .card-6 { background-image: url(5e943b2d25c505681d0f1def.image.png); }
        
            .card-7 { background-image: url(5e8dac932c02d5b61d43062d.image.png); }
        
            .card-8 { background-image: url(5e8dac932c02d5b61d430630.image.png); }
        
