
            .card-1 { background-image: url(5e8dadcf3018c62731acd17a.image.png); }
        
                .matching.card-1 { background-image: url(5e8dadcf3018c62731acd17a.card.png); }
            
            .card-2 { background-image: url(5e8dadcf3018c62731acd17c.image.png); }
        
                .matching.card-2 { background-image: url(5e8dadcf3018c62731acd17c.card.png); }
            
            .card-3 { background-image: url(5eadf9d98deb5b71a395fe03.image.png); }
        
                .matching.card-3 { background-image: url(5eadf9d98deb5b71a395fe03.card.png); }
            
            .card-4 { background-image: url(5e8dadcf3018c62731acd17b.image.png); }
        
                .matching.card-4 { background-image: url(5e8dadcf3018c62731acd17b.card.png); }
            
            .card-5 { background-image: url(5eadf9db8deb5b71a395fe04.image.png); }
        
                .matching.card-5 { background-image: url(5eadf9db8deb5b71a395fe04.card.png); }
            
            .card-6 { background-image: url(5e8dadcf3018c62731acd17f.image.png); }
        
                .matching.card-6 { background-image: url(5e8dadcf3018c62731acd17f.card.png); }
            
            .card-7 { background-image: url(5eadf9dc8deb5b71a395fe05.image.png); }
        
                .matching.card-7 { background-image: url(5eadf9dc8deb5b71a395fe05.card.png); }
            
            .card-8 { background-image: url(5eadf9dd8deb5b71a395fe06.image.png); }
        
                .matching.card-8 { background-image: url(5eadf9dd8deb5b71a395fe06.card.png); }
            
            .card-9 { background-image: url(5eadf9de8deb5b71a395fe07.image.png); }
        
                .matching.card-9 { background-image: url(5eadf9de8deb5b71a395fe07.card.png); }
            
            .card-10 { background-image: url(5e8dadcf3018c62731acd17e.image.png); }
        
                .matching.card-10 { background-image: url(5e8dadcf3018c62731acd17e.card.png); }
            
            .card-11 { background-image: url(5eadf9e08deb5b71a395fe08.image.png); }
        
                .matching.card-11 { background-image: url(5eadf9e08deb5b71a395fe08.card.png); }
            
            .card-12 { background-image: url(5eadf9e08deb5b71a395fe09.image.png); }
        
                .matching.card-12 { background-image: url(5eadf9e08deb5b71a395fe09.card.png); }
            
            .card-13 { background-image: url(5eadf9e18deb5b71a395fe0a.image.png); }
        
                .matching.card-13 { background-image: url(5eadf9e18deb5b71a395fe0a.card.png); }
            
            .card-14 { background-image: url(5eadf9e28deb5b71a395fe0b.image.png); }
        
                .matching.card-14 { background-image: url(5eadf9e28deb5b71a395fe0b.card.png); }
            
