
            .card-1 { background-image: url(5eb791ae14a1892be47ea8a3.image.png); }
        
                .matching.card-1 { background-image: url(5eb791ae14a1892be47ea8a3.card.png); }
            
            .card-2 { background-image: url(5eb791ae14a1892be47ea8a4.image.png); }
        
                .matching.card-2 { background-image: url(5eb791ae14a1892be47ea8a4.card.png); }
            
            .card-3 { background-image: url(5eb791af14a1892be47ea8a5.image.png); }
        
                .matching.card-3 { background-image: url(5eb791af14a1892be47ea8a5.card.png); }
            
            .card-4 { background-image: url(5eb791af14a1892be47ea8a6.image.png); }
        
                .matching.card-4 { background-image: url(5eb791af14a1892be47ea8a6.card.png); }
            
            .card-5 { background-image: url(5eb79b1ab25bfd882d779b82.image.png); }
        
                .matching.card-5 { background-image: url(5eb79b1ab25bfd882d779b82.card.png); }
            
            .card-6 { background-image: url(5eb79b1ab25bfd882d779b83.image.png); }
        
                .matching.card-6 { background-image: url(5eb79b1ab25bfd882d779b83.card.png); }
            
            .card-7 { background-image: url(5eb79b1bb25bfd882d779b84.image.png); }
        
                .matching.card-7 { background-image: url(5eb79b1bb25bfd882d779b84.card.png); }
            
            .card-8 { background-image: url(5eb79b1bb25bfd882d779b85.image.png); }
        
                .matching.card-8 { background-image: url(5eb79b1bb25bfd882d779b85.card.png); }
            
            .card-9 { background-image: url(5eb79b1bb25bfd882d779b86.image.png); }
        
                .matching.card-9 { background-image: url(5eb79b1bb25bfd882d779b86.card.png); }
            
