
            .card-1 { background-image: url(5e943b2e25c505681d0f1df0.image.png); }
        
            .card-2 { background-image: url(5e8dac932c02d5b61d43063d.image.png); }
        
            .card-3 { background-image: url(5e8dac932c02d5b61d43063b.image.png); }
        
            .card-4 { background-image: url(5e8dac932c02d5b61d430638.image.png); }
        
            .card-5 { background-image: url(5e8dac932c02d5b61d43062c.image.png); }
        
            .card-6 { background-image: url(5e8dac932c02d5b61d43063f.image.png); }
        
            .card-7 { background-image: url(5e8dac932c02d5b61d430639.image.png); }
        
