
            .card-1 { background-image: url(5e8db08a26af9d56f020f496.image.png); }
        
                .matching.card-1 { background-image: url(5e8db08a26af9d56f020f496.card.png); }
            
            .card-2 { background-image: url(5e9cd3b9c9c8767483d77483.image.png); }
        
                .matching.card-2 { background-image: url(5e9cd3b9c9c8767483d77483.card.png); }
            
            .card-3 { background-image: url(5e9cd3bac9c8767483d77484.image.png); }
        
                .matching.card-3 { background-image: url(5e9cd3bac9c8767483d77484.card.png); }
            
            .card-4 { background-image: url(5e9cd3bbc9c8767483d77485.image.png); }
        
                .matching.card-4 { background-image: url(5e9cd3bbc9c8767483d77485.card.png); }
            
            .card-5 { background-image: url(5e9cd3bcc9c8767483d77486.image.png); }
        
                .matching.card-5 { background-image: url(5e9cd3bcc9c8767483d77486.card.png); }
            
            .card-6 { background-image: url(5e9cd3bcc9c8767483d77487.image.png); }
        
                .matching.card-6 { background-image: url(5e9cd3bcc9c8767483d77487.card.png); }
            
            .card-7 { background-image: url(5e9cd3bdc9c8767483d77488.image.png); }
        
                .matching.card-7 { background-image: url(5e9cd3bdc9c8767483d77488.card.png); }
            
            .card-8 { background-image: url(5e9cd3bec9c8767483d77489.image.png); }
        
                .matching.card-8 { background-image: url(5e9cd3bec9c8767483d77489.card.png); }
            
            .card-9 { background-image: url(5e9cd3bfc9c8767483d7748a.image.png); }
        
                .matching.card-9 { background-image: url(5e9cd3bfc9c8767483d7748a.card.png); }
            
            .card-10 { background-image: url(5e9cd3c0c9c8767483d7748b.image.png); }
        
                .matching.card-10 { background-image: url(5e9cd3c0c9c8767483d7748b.card.png); }
            
            .card-11 { background-image: url(5e9cd3c1c9c8767483d7748c.image.png); }
        
                .matching.card-11 { background-image: url(5e9cd3c1c9c8767483d7748c.card.png); }
            
            .card-12 { background-image: url(5e9cd3c2c9c8767483d7748d.image.png); }
        
                .matching.card-12 { background-image: url(5e9cd3c2c9c8767483d7748d.card.png); }
            
