
            .card-1 { background-image: url(5e9cc6f283dd7905aa16c687.image.png); }
        
                .matching.card-1 { background-image: url(5e9cc6f283dd7905aa16c687.card.png); }
            
            .card-2 { background-image: url(5e9cc6f383dd7905aa16c688.image.png); }
        
                .matching.card-2 { background-image: url(5e9cc6f383dd7905aa16c688.card.png); }
            
            .card-3 { background-image: url(5e9cc6f383dd7905aa16c689.image.png); }
        
                .matching.card-3 { background-image: url(5e9cc6f383dd7905aa16c689.card.png); }
            
            .card-4 { background-image: url(5e9cc6f483dd7905aa16c68a.image.png); }
        
                .matching.card-4 { background-image: url(5e9cc6f483dd7905aa16c68a.card.png); }
            
            .card-5 { background-image: url(5e9cc6f583dd7905aa16c68b.image.png); }
        
                .matching.card-5 { background-image: url(5e9cc6f583dd7905aa16c68b.card.png); }
            
            .card-6 { background-image: url(5e9cc6f683dd7905aa16c68c.image.png); }
        
                .matching.card-6 { background-image: url(5e9cc6f683dd7905aa16c68c.card.png); }
            
            .card-7 { background-image: url(5e9cc6f683dd7905aa16c68d.image.png); }
        
                .matching.card-7 { background-image: url(5e9cc6f683dd7905aa16c68d.card.png); }
            
            .card-8 { background-image: url(5e9cc6f783dd7905aa16c68e.image.png); }
        
                .matching.card-8 { background-image: url(5e9cc6f783dd7905aa16c68e.card.png); }
            
            .card-9 { background-image: url(5e9cc6f883dd7905aa16c68f.image.png); }
        
                .matching.card-9 { background-image: url(5e9cc6f883dd7905aa16c68f.card.png); }
            
            .card-10 { background-image: url(5e9cc6f983dd7905aa16c690.image.png); }
        
                .matching.card-10 { background-image: url(5e9cc6f983dd7905aa16c690.card.png); }
            
            .card-11 { background-image: url(5e9cc6fa83dd7905aa16c691.image.png); }
        
                .matching.card-11 { background-image: url(5e9cc6fa83dd7905aa16c691.card.png); }
            
            .card-12 { background-image: url(5e9cc6fb83dd7905aa16c692.image.png); }
        
                .matching.card-12 { background-image: url(5e9cc6fb83dd7905aa16c692.card.png); }
            
