
            .card-1 { background-image: url(5e8bf944f6082885ff046ab3.image.png); }
        
                .matching.card-1 { background-image: url(5e8bf944f6082885ff046ab3.card.png); }
            
            .card-2 { background-image: url(5eb792e79d5b9f0e47f908b7.image.png); }
        
                .matching.card-2 { background-image: url(5eb792e79d5b9f0e47f908b7.card.png); }
            
            .card-3 { background-image: url(5e8bf941f6082885ff046aaf.image.png); }
        
                .matching.card-3 { background-image: url(5e8bf941f6082885ff046aaf.card.png); }
            
            .card-4 { background-image: url(5eb792e79d5b9f0e47f908b8.image.png); }
        
                .matching.card-4 { background-image: url(5eb792e79d5b9f0e47f908b8.card.png); }
            
            .card-5 { background-image: url(5e8bf943f6082885ff046ab2.image.png); }
        
                .matching.card-5 { background-image: url(5e8bf943f6082885ff046ab2.card.png); }
            
            .card-6 { background-image: url(5eb792e89d5b9f0e47f908b9.image.png); }
        
                .matching.card-6 { background-image: url(5eb792e89d5b9f0e47f908b9.card.png); }
            
            .card-7 { background-image: url(5e8bf93ff6082885ff046aad.image.png); }
        
                .matching.card-7 { background-image: url(5e8bf93ff6082885ff046aad.card.png); }
            
            .card-8 { background-image: url(5e8bf93ef6082885ff046aac.image.png); }
        
                .matching.card-8 { background-image: url(5e8bf93ef6082885ff046aac.card.png); }
            
            .card-9 { background-image: url(5e8bf940f6082885ff046aae.image.png); }
        
                .matching.card-9 { background-image: url(5e8bf940f6082885ff046aae.card.png); }
            
            .card-10 { background-image: url(5e8bf942f6082885ff046ab1.image.png); }
        
                .matching.card-10 { background-image: url(5e8bf942f6082885ff046ab1.card.png); }
            
            .card-11 { background-image: url(5e8bf93ef6082885ff046aab.image.png); }
        
                .matching.card-11 { background-image: url(5e8bf93ef6082885ff046aab.card.png); }
            
            .card-12 { background-image: url(5eb792e99d5b9f0e47f908ba.image.png); }
        
                .matching.card-12 { background-image: url(5eb792e99d5b9f0e47f908ba.card.png); }
            
            .card-13 { background-image: url(5eb792ea9d5b9f0e47f908bb.image.png); }
        
                .matching.card-13 { background-image: url(5eb792ea9d5b9f0e47f908bb.card.png); }
            
            .card-14 { background-image: url(5eb792ea9d5b9f0e47f908bc.image.png); }
        
                .matching.card-14 { background-image: url(5eb792ea9d5b9f0e47f908bc.card.png); }
            
