
            .card-1 { background-image: url(5e9cd75dfb76c53278b7ea5c.image.png); }
        
                .matching.card-1 { background-image: url(5e9cd75dfb76c53278b7ea5c.card.png); }
            
            .card-2 { background-image: url(5e9cd75dfb76c53278b7ea5d.image.png); }
        
                .matching.card-2 { background-image: url(5e9cd75dfb76c53278b7ea5d.card.png); }
            
            .card-3 { background-image: url(5e9cd75efb76c53278b7ea5e.image.png); }
        
                .matching.card-3 { background-image: url(5e9cd75efb76c53278b7ea5e.card.png); }
            
            .card-4 { background-image: url(5e9cd75ffb76c53278b7ea5f.image.png); }
        
                .matching.card-4 { background-image: url(5e9cd75ffb76c53278b7ea5f.card.png); }
            
            .card-5 { background-image: url(5e9cd75ffb76c53278b7ea60.image.png); }
        
                .matching.card-5 { background-image: url(5e9cd75ffb76c53278b7ea60.card.png); }
            
            .card-6 { background-image: url(5e9cd760fb76c53278b7ea61.image.png); }
        
                .matching.card-6 { background-image: url(5e9cd760fb76c53278b7ea61.card.png); }
            
            .card-7 { background-image: url(5e9cd58117c76e7d6c69f905.image.png); }
        
                .matching.card-7 { background-image: url(5e9cd58117c76e7d6c69f905.card.png); }
            
            .card-8 { background-image: url(5e9cd58217c76e7d6c69f907.image.png); }
        
                .matching.card-8 { background-image: url(5e9cd58217c76e7d6c69f907.card.png); }
            
            .card-9 { background-image: url(5e9cd58117c76e7d6c69f906.image.png); }
        
                .matching.card-9 { background-image: url(5e9cd58117c76e7d6c69f906.card.png); }
            
            .card-10 { background-image: url(5ea3b71497e2a3b784762d36.image.png); }
        
                .matching.card-10 { background-image: url(5ea3b71497e2a3b784762d36.card.png); }
            
            .card-11 { background-image: url(5ea3b71497e2a3b784762d37.image.png); }
        
                .matching.card-11 { background-image: url(5ea3b71497e2a3b784762d37.card.png); }
            
