
            .card-1 { background-image: url(5e8dac932c02d5b61d43063a.image.png); }
        
            .card-2 { background-image: url(5e943b3125c505681d0f1df1.image.png); }
        
            .card-3 { background-image: url(5e8dac932c02d5b61d430636.image.png); }
        
            .card-4 { background-image: url(5e943b3225c505681d0f1df2.image.png); }
        
            .card-5 { background-image: url(5e943b3225c505681d0f1df3.image.png); }
        
            .card-6 { background-image: url(5e8dac932c02d5b61d430634.image.png); }
        
            .card-7 { background-image: url(5e8dac932c02d5b61d430633.image.png); }
        
            .card-8 { background-image: url(5e8dac932c02d5b61d430635.image.png); }
        
