
            .card-1 { background-image: url(5e8dad947aa6d6552ebb39b0.image.png); }
        
                .matching.card-1 { background-image: url(5e8dad947aa6d6552ebb39b0.card.png); }
            
            .card-2 { background-image: url(5ec1d0765f5aaa74c0065972.image.png); }
        
                .matching.card-2 { background-image: url(5ec1d0765f5aaa74c0065972.card.png); }
            
            .card-3 { background-image: url(5ec1d0765f5aaa74c0065973.image.png); }
        
                .matching.card-3 { background-image: url(5ec1d0765f5aaa74c0065973.card.png); }
            
            .card-4 { background-image: url(5ec1d0775f5aaa74c0065974.image.png); }
        
                .matching.card-4 { background-image: url(5ec1d0775f5aaa74c0065974.card.png); }
            
            .card-5 { background-image: url(5ec1d0775f5aaa74c0065975.image.png); }
        
                .matching.card-5 { background-image: url(5ec1d0775f5aaa74c0065975.card.png); }
            
            .card-6 { background-image: url(5ec1d0775f5aaa74c0065976.image.png); }
        
                .matching.card-6 { background-image: url(5ec1d0775f5aaa74c0065976.card.png); }
            
            .card-7 { background-image: url(5ec1d0785f5aaa74c0065977.image.png); }
        
                .matching.card-7 { background-image: url(5ec1d0785f5aaa74c0065977.card.png); }
            
            .card-8 { background-image: url(5ec1d0785f5aaa74c0065978.image.png); }
        
                .matching.card-8 { background-image: url(5ec1d0785f5aaa74c0065978.card.png); }
            
            .card-9 { background-image: url(5ec1d0795f5aaa74c0065979.image.png); }
        
                .matching.card-9 { background-image: url(5ec1d0795f5aaa74c0065979.card.png); }
            
            .card-10 { background-image: url(5ec1d0795f5aaa74c006597a.image.png); }
        
                .matching.card-10 { background-image: url(5ec1d0795f5aaa74c006597a.card.png); }
            
            .card-11 { background-image: url(5ec1d07a5f5aaa74c006597b.image.png); }
        
                .matching.card-11 { background-image: url(5ec1d07a5f5aaa74c006597b.card.png); }
            
