
            .card-1 { background-image: url(5e8dafd4fe028112aa073e70.image.png); }
        
                .matching.card-1 { background-image: url(5e8dafd4fe028112aa073e70.card.png); }
            
            .card-2 { background-image: url(5e8daed2f027c1f33241f487.image.png); }
        
                .matching.card-2 { background-image: url(5e8daed2f027c1f33241f487.card.png); }
            
            .card-3 { background-image: url(5e9cc6fd83dd7905aa16c693.image.png); }
        
                .matching.card-3 { background-image: url(5e9cc6fd83dd7905aa16c693.card.png); }
            
            .card-4 { background-image: url(5e9cc6fe83dd7905aa16c694.image.png); }
        
                .matching.card-4 { background-image: url(5e9cc6fe83dd7905aa16c694.card.png); }
            
            .card-5 { background-image: url(5e9cc6ff83dd7905aa16c695.image.png); }
        
                .matching.card-5 { background-image: url(5e9cc6ff83dd7905aa16c695.card.png); }
            
            .card-6 { background-image: url(5e9cc6ff83dd7905aa16c696.image.png); }
        
                .matching.card-6 { background-image: url(5e9cc6ff83dd7905aa16c696.card.png); }
            
            .card-7 { background-image: url(5e9cc70083dd7905aa16c697.image.png); }
        
                .matching.card-7 { background-image: url(5e9cc70083dd7905aa16c697.card.png); }
            
            .card-8 { background-image: url(5e9cc70183dd7905aa16c698.image.png); }
        
                .matching.card-8 { background-image: url(5e9cc70183dd7905aa16c698.card.png); }
            
            .card-9 { background-image: url(5e8dac67201d843588616dc8.image.png); }
        
                .matching.card-9 { background-image: url(5e8dac67201d843588616dc8.card.png); }
            
            .card-10 { background-image: url(5e8dac67201d843588616dc7.image.png); }
        
                .matching.card-10 { background-image: url(5e8dac67201d843588616dc7.card.png); }
            
            .card-11 { background-image: url(5e9cc70383dd7905aa16c699.image.png); }
        
                .matching.card-11 { background-image: url(5e9cc70383dd7905aa16c699.card.png); }
            
            .card-12 { background-image: url(5e9cc70483dd7905aa16c69a.image.png); }
        
                .matching.card-12 { background-image: url(5e9cc70483dd7905aa16c69a.card.png); }
            
            .card-13 { background-image: url(5e9cc70483dd7905aa16c69b.image.png); }
        
                .matching.card-13 { background-image: url(5e9cc70483dd7905aa16c69b.card.png); }
            
