
            .card-1 { background-image: url(5e9ccac2d50a14ecf823ab95.image.png); }
        
                .matching.card-1 { background-image: url(5e9ccac2d50a14ecf823ab95.card.png); }
            
            .card-2 { background-image: url(5e9ccac3d50a14ecf823ab96.image.png); }
        
                .matching.card-2 { background-image: url(5e9ccac3d50a14ecf823ab96.card.png); }
            
            .card-3 { background-image: url(5e9ccac4d50a14ecf823ab97.image.png); }
        
                .matching.card-3 { background-image: url(5e9ccac4d50a14ecf823ab97.card.png); }
            
            .card-4 { background-image: url(5e9ccac5d50a14ecf823ab98.image.png); }
        
                .matching.card-4 { background-image: url(5e9ccac5d50a14ecf823ab98.card.png); }
            
            .card-5 { background-image: url(5e9ccac6d50a14ecf823ab99.image.png); }
        
                .matching.card-5 { background-image: url(5e9ccac6d50a14ecf823ab99.card.png); }
            
