
            .card-1 { background-image: url(5e9cda08037c6b87b73250f1.image.png); }
        
                .matching.card-1 { background-image: url(5e9cda08037c6b87b73250f1.card.png); }
            
            .card-2 { background-image: url(5e9cda09037c6b87b73250f2.image.png); }
        
                .matching.card-2 { background-image: url(5e9cda09037c6b87b73250f2.card.png); }
            
            .card-3 { background-image: url(5e9cda09037c6b87b73250f3.image.png); }
        
                .matching.card-3 { background-image: url(5e9cda09037c6b87b73250f3.card.png); }
            
            .card-4 { background-image: url(5e9cda09037c6b87b73250f4.image.png); }
        
                .matching.card-4 { background-image: url(5e9cda09037c6b87b73250f4.card.png); }
            
            .card-5 { background-image: url(5e8dab8369c2516911ea4531.image.png); }
        
                .matching.card-5 { background-image: url(5e8dab8369c2516911ea4531.card.png); }
            
            .card-6 { background-image: url(5e8dab8369c2516911ea4530.image.png); }
        
                .matching.card-6 { background-image: url(5e8dab8369c2516911ea4530.card.png); }
            
            .card-7 { background-image: url(5e9cda0b037c6b87b73250f5.image.png); }
        
                .matching.card-7 { background-image: url(5e9cda0b037c6b87b73250f5.card.png); }
            
            .card-8 { background-image: url(5e9cda0b037c6b87b73250f6.image.png); }
        
                .matching.card-8 { background-image: url(5e9cda0b037c6b87b73250f6.card.png); }
            
            .card-9 { background-image: url(5e9cda0b037c6b87b73250f7.image.png); }
        
                .matching.card-9 { background-image: url(5e9cda0b037c6b87b73250f7.card.png); }
            
            .card-10 { background-image: url(5e9cda0c037c6b87b73250f8.image.png); }
        
                .matching.card-10 { background-image: url(5e9cda0c037c6b87b73250f8.card.png); }
            
            .card-11 { background-image: url(5e8dab8369c2516911ea4532.image.png); }
        
                .matching.card-11 { background-image: url(5e8dab8369c2516911ea4532.card.png); }
            
            .card-12 { background-image: url(5e9cda0d037c6b87b73250f9.image.png); }
        
                .matching.card-12 { background-image: url(5e9cda0d037c6b87b73250f9.card.png); }
            
            .card-13 { background-image: url(5e9cda0d037c6b87b73250fa.image.png); }
        
                .matching.card-13 { background-image: url(5e9cda0d037c6b87b73250fa.card.png); }
            
            .card-14 { background-image: url(5e9cda0d037c6b87b73250fb.image.png); }
        
                .matching.card-14 { background-image: url(5e9cda0d037c6b87b73250fb.card.png); }
            
            .card-15 { background-image: url(5e9cda0e037c6b87b73250fc.image.png); }
        
                .matching.card-15 { background-image: url(5e9cda0e037c6b87b73250fc.card.png); }
            
            .card-16 { background-image: url(5e9cda0e037c6b87b73250fd.image.png); }
        
                .matching.card-16 { background-image: url(5e9cda0e037c6b87b73250fd.card.png); }
            
