
            .card-1 { background-image: url(5ec1d07a5f5aaa74c006597c.image.png); }
        
                .matching.card-1 { background-image: url(5ec1d07a5f5aaa74c006597c.card.png); }
            
            .card-2 { background-image: url(5ec1d07b5f5aaa74c006597d.image.png); }
        
                .matching.card-2 { background-image: url(5ec1d07b5f5aaa74c006597d.card.png); }
            
            .card-3 { background-image: url(5ec1d07b5f5aaa74c006597e.image.png); }
        
                .matching.card-3 { background-image: url(5ec1d07b5f5aaa74c006597e.card.png); }
            
            .card-4 { background-image: url(5ec1d07c5f5aaa74c006597f.image.png); }
        
                .matching.card-4 { background-image: url(5ec1d07c5f5aaa74c006597f.card.png); }
            
            .card-5 { background-image: url(5ec1d07c5f5aaa74c0065980.image.png); }
        
                .matching.card-5 { background-image: url(5ec1d07c5f5aaa74c0065980.card.png); }
            
            .card-6 { background-image: url(5ec1d07d5f5aaa74c0065981.image.png); }
        
                .matching.card-6 { background-image: url(5ec1d07d5f5aaa74c0065981.card.png); }
            
            .card-7 { background-image: url(5ec1d07d5f5aaa74c0065982.image.png); }
        
                .matching.card-7 { background-image: url(5ec1d07d5f5aaa74c0065982.card.png); }
            
            .card-8 { background-image: url(5ec1d07e5f5aaa74c0065983.image.png); }
        
                .matching.card-8 { background-image: url(5ec1d07e5f5aaa74c0065983.card.png); }
            
            .card-9 { background-image: url(5ec1d07e5f5aaa74c0065984.image.png); }
        
                .matching.card-9 { background-image: url(5ec1d07e5f5aaa74c0065984.card.png); }
            
            .card-10 { background-image: url(5ec1d07f5f5aaa74c0065985.image.png); }
        
                .matching.card-10 { background-image: url(5ec1d07f5f5aaa74c0065985.card.png); }
            
