
            .card-1 { background-image: url(5ec1d0605f5aaa74c0065962.image.png); }
        
                .matching.card-1 { background-image: url(5ec1d0605f5aaa74c0065962.card.png); }
            
            .card-2 { background-image: url(5ec1d0615f5aaa74c0065963.image.png); }
        
                .matching.card-2 { background-image: url(5ec1d0615f5aaa74c0065963.card.png); }
            
            .card-3 { background-image: url(5ec1d0615f5aaa74c0065964.image.png); }
        
                .matching.card-3 { background-image: url(5ec1d0615f5aaa74c0065964.card.png); }
            
            .card-4 { background-image: url(5ec1d0625f5aaa74c0065965.image.png); }
        
                .matching.card-4 { background-image: url(5ec1d0625f5aaa74c0065965.card.png); }
            
            .card-5 { background-image: url(5e8dad947aa6d6552ebb39b1.image.png); }
        
                .matching.card-5 { background-image: url(5e8dad947aa6d6552ebb39b1.card.png); }
            
            .card-6 { background-image: url(5ec1d0635f5aaa74c0065966.image.png); }
        
                .matching.card-6 { background-image: url(5ec1d0635f5aaa74c0065966.card.png); }
            
            .card-7 { background-image: url(5ec1d0635f5aaa74c0065967.image.png); }
        
                .matching.card-7 { background-image: url(5ec1d0635f5aaa74c0065967.card.png); }
            
            .card-8 { background-image: url(5ec1d0645f5aaa74c0065968.image.png); }
        
                .matching.card-8 { background-image: url(5ec1d0645f5aaa74c0065968.card.png); }
            
            .card-9 { background-image: url(5e8dad947aa6d6552ebb39ad.image.png); }
        
                .matching.card-9 { background-image: url(5e8dad947aa6d6552ebb39ad.card.png); }
            
            .card-10 { background-image: url(5ec1d06a5f5aaa74c0065969.image.png); }
        
                .matching.card-10 { background-image: url(5ec1d06a5f5aaa74c0065969.card.png); }
            
