
            .card-1 { background-image: url(5e9cd3b0c9c8767483d7747a.image.png); }
        
                .matching.card-1 { background-image: url(5e9cd3b0c9c8767483d7747a.card.png); }
            
            .card-2 { background-image: url(5e9cd3b0c9c8767483d7747b.image.png); }
        
                .matching.card-2 { background-image: url(5e9cd3b0c9c8767483d7747b.card.png); }
            
            .card-3 { background-image: url(5e9cd3b1c9c8767483d7747c.image.png); }
        
                .matching.card-3 { background-image: url(5e9cd3b1c9c8767483d7747c.card.png); }
            
            .card-4 { background-image: url(5e9cd3b2c9c8767483d7747d.image.png); }
        
                .matching.card-4 { background-image: url(5e9cd3b2c9c8767483d7747d.card.png); }
            
            .card-5 { background-image: url(5e9cd3b3c9c8767483d7747e.image.png); }
        
                .matching.card-5 { background-image: url(5e9cd3b3c9c8767483d7747e.card.png); }
            
            .card-6 { background-image: url(5e9cd3b3c9c8767483d7747f.image.png); }
        
                .matching.card-6 { background-image: url(5e9cd3b3c9c8767483d7747f.card.png); }
            
            .card-7 { background-image: url(5e8db08a26af9d56f020f497.image.png); }
        
                .matching.card-7 { background-image: url(5e8db08a26af9d56f020f497.card.png); }
            
            .card-8 { background-image: url(5e9cd3b5c9c8767483d77480.image.png); }
        
                .matching.card-8 { background-image: url(5e9cd3b5c9c8767483d77480.card.png); }
            
            .card-9 { background-image: url(5e8db08a26af9d56f020f494.image.png); }
        
                .matching.card-9 { background-image: url(5e8db08a26af9d56f020f494.card.png); }
            
            .card-10 { background-image: url(5e9cd3b6c9c8767483d77481.image.png); }
        
                .matching.card-10 { background-image: url(5e9cd3b6c9c8767483d77481.card.png); }
            
            .card-11 { background-image: url(5e8db08a26af9d56f020f495.image.png); }
        
                .matching.card-11 { background-image: url(5e8db08a26af9d56f020f495.card.png); }
            
            .card-12 { background-image: url(5e9cd3b7c9c8767483d77482.image.png); }
        
                .matching.card-12 { background-image: url(5e9cd3b7c9c8767483d77482.card.png); }
            
